@import '../../scss/abstract/mixins';

.container-wrapper {
    box-sizing: border-box;
    @include absfullSize;
}

.container {
    box-shadow: var(--box-shadow-heavy);
    @include absCenter;
    @include modalSize;
    @include whiteBg;
    border: 2px solid var(--primary-color);
}

.blur {
    width: 100%;
    transition: 0.4s all;
    backdrop-filter: none;

    &.active {
        backdrop-filter: blur(var(--size-xs));
    }
}
