<!-- <app-header [title]="'Manage users'"></app-header> -->

<div class="container">
    <div class="item-container">
        <ng-container *ngIf="users$ | async as users; else loading">
            <div class="item-container__items">
                <div
                    class="item-container__item"
                    *ngFor="let data of users; let i = index"
                    (click)="openUser(data.user)"
                >
                    <p>
                        <span
                            >{{ data.user.info.firstName }}
                            {{ data.user.info.lastName }}</span
                        >
                        <span class="email">{{ data.user.info.email }}</span>

                        <ng-container *ngIf="data.monthHours$ | async as total">
                            <span class="m-6-d-b"
                                >Month hours: {{ total }}h</span
                            >
                        </ng-container>
                        <ng-container
                            *ngIf="data.totalHours$ | async as total; else zero"
                        >
                            <span class="m-6-d-b"
                                >Total hours: {{ total }}h</span
                            >
                        </ng-container>
                        <ng-template #zero>
                            <span class="m-6-d-b">Total hours: 0h</span>
                        </ng-template>
                    </p>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <div class="container container-center">
                <app-loader></app-loader>
            </div>
        </ng-template>
    </div>
</div>
