@import '../../scss/abstract/mixins';

::ng-deep .editForm {
    z-index: var(--layer-7);
    @include absCenter;
    @include modalSize;
    @include whiteBg;
    border: 2px solid var(--primary-color);

    @include gridFractionWide;
    grid-template-rows: 8px 50px 1fr;
    transition: 0.2s width;

    @media only screen and (min-width: 576px) {
        width: 74vw;
    }

    .header {
        position: relative;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @include flexCenterBetween;

        .editForm__close {
            height: 100%;
            transform: translate(10px, 5px);
            padding: 0 23px;
        }
    }

    .form {
        margin: var(--m-m) 0;

        grid-column: 2 / 3;
        grid-row: 3 / 4;

        &__inputs {
            & > * {
                margin-top: var(--m-s);
            }

            label {
                display: grid;
                grid-template-rows: repeat(2, min-content);

                font-family: Bitter;
                font-style: normal;
                font-weight: normal;
                font-size: var(--font-size-m);
                line-height: var(--letter-spacing-s);
                color: var(--deep-dark-color);

                span {
                    margin-left: var(--m-s);
                    margin-bottom: var(--m-xs);
                }

                input {
                    border: none;
                    outline: none;
                    border: 2px solid var(primary-color-dark);
                    box-sizing: border-box;
                    text-indent: 10px;
                    color: var(--deep-dark-color);
                    font-size: var(--font-size-l);
                    height: var(--size-m);
                    border-radius: var(--border-r-s);
                }
            }
        }

        button.submit {
            @include btnSize;
            color: var(--white-color);

            &.disabled {
                background-color: var(--disabled-color);
            }
        }

        button.delete {
            @include btnSize;
            border: 3px solid var(--error-color);
            background-color: transparent;
            color: var(--error-color);

            &.disabled {
                background-color: var(--disabled-color);
            }
        }
    }
}

::ng-deep .blur {
    transition: 0.4s all;
    backdrop-filter: none;

    &.active {
        width: 100vw;
        min-height: 100vh;
        z-index: var(--layer-6);
        @include fixedBlur;
    }
}
