:host {
  display: grid;
  grid-template-columns:
    [left-side-color-start] 20px
    [left-side-color-end content-start] 1fr
    [content-end];
  grid-template-rows:
    [heading-start] minmax(60px, min-content)
    [heading-end content-row-start] minmax(80px, min-content)
    [content-row-end];
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  margin: 10px;
  min-width: 90%;
  background-color: #fff;
}

.side {
  grid-column: left-side-color-start / left-side-color-end;
  grid-row: 1 / -1;
  background-color: orangered;
}

.heading {
  grid-column: content-start / content-end;
  grid-row: heading-start / heading-end;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

.content {
  grid-column: content-start / content-end;
  grid-row: content-row-start / content-row-end;
  border-top: 1px solid #ddd;
  padding: 20px;
}
