<div style="display: flex; justify-content: center; align-items: center; font-size: 40px; min-height: 100vh;">
  <app-loader *ngIf="authService.loader"></app-loader>
</div>

<div *ngIf="!authService.loader" class="app-container">
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="manageService.genModalObs$ | async">
  <app-general-modal>
    <div class="register-modal-content">
      <h4>You as a user is not yet registered in this application. <br><br>Please contact your organization.</h4>
      <button (click)="manageService.setGeneralModal(false)" style="color: #fff; text-transform: uppercase; box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);">Close</button>
    </div>
  </app-general-modal>
</ng-container>