<ng-container *ngIf="authService.loader; else content">
    <div class="loader-container">
        <app-loader></app-loader>
    </div>
</ng-container>

<ng-template #content>
    <div class="app-container">
        <ng-container *ngIf="auth$ | async as auth">
            <app-header
                [auth]="auth"
            ></app-header>
        </ng-container>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="manageService.genModalObs$ | async">
    <app-general-modal>
        <div class="register-modal-content">
            <h4>
                You as a user is not yet registered in this application.
                <br /><br />Please contact your organization.
            </h4>
            <button
                (click)="manageService.setGeneralModal(false)"
                class="modal-btn"
            >
                Close
            </button>
        </div>
    </app-general-modal>
</ng-container>
