<div class="overlay"></div>
<div class="app__container">
  <div class="header__container">
    <header>
      <ng-container *ngIf="user$ | async as user">
        <div class="name">
          {{ user.name }}
        </div>
      </ng-container>
      <div class="setting">
        <i>ss</i>
      </div>
    </header>

    <div class="days">
      <span *ngFor="let day of days" class="day-hours">
        <app-day-hours [day]="day"></app-day-hours>
      </span>
    </div>
  </div>

  <div class="main__container">
    <div class="main__content">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
      <ng-container *ngIf="(windowService.windowSizeObs$ | async).width >= 768">
        <div @fadeInEnter>
          <div class="card">
            <app-current-worksite-card (click)="navigateToCardContent('current-worksite')"></app-current-worksite-card>
          </div>
          <div class="card">
            <app-worksites-card (click)="navigateToCardContent('worksites')"></app-worksites-card>
          </div>
          <div class="card">
            <app-manage-worksites-card (click)="navigateToCardContent('manage-worksites')"></app-manage-worksites-card>
          </div>
          <div class="card">
            <app-manage-users-card (click)="navigateToCardContent('manage-users')"></app-manage-users-card>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
