::-webkit-scrollbar {
  @media only screen and (min-width: 567px) {
    width: 10px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  @media only screen and (min-width: 567px) {
    background: #f1f1f1;
  }
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 206, 245);
  // background: rgb(34, 111, 199);
  @media only screen and (min-width: 567px) {
    background: rgb(172, 206, 245);
  }
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 213, 245);
  // background: rgb(34, 111, 199);
  @media only screen and (min-width: 567px) {
    background: rgb(185, 213, 245);
  }
}

:host {
  height: 100%;
  min-height: 100vh;

  @media only screen and (min-width: 768px) {
    min-height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
  }

  display: grid;
  grid-template-columns: 1fr;
}

.app {
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: minmax(120px, min-content) 1fr;

    // overflow: auto;

    background-color: #f5f5f5;

    // background: rgb(96, 129, 224);
    // background: linear-gradient(
    //   140deg,
    //   rgba(96, 129, 224, 1) 0%,
    //   rgba(75, 68, 208, 1) 36%,
    //   rgba(162, 0, 255, 1) 81%
    // );

    position: fixed;
    min-height: 100vh;

    @media only screen and (min-width: 768px) {
      min-height: 90vh;
    }

    background-image: url("https://p0.piqsels.com/preview/110/349/112/view-of-building-construction-sites.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header {
  &__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2vw 1fr 2vw;
    grid-auto-rows: minmax(60px, min-content);

    @media only screen and (min-width: 567px) {
      margin-top: 5vh;
    }

    header {
      grid-column: 2 / 3;
      display: flex;
      justify-content: space-between;
      padding: 12px 10px 12px 0;

      @media only screen and (min-width: 768px) {
        padding: 12px 0;
      }
    }

    .day-hours:not(:nth-child(1)) {
      margin-left: 2px;
    }

    .days {
      grid-column: 2 / 3;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media only screen and (min-width: 768px) {
        max-width: 450px;
      }
    }
  }
}

.main {
  &__container {
    grid-column: 2 / 3;
    display: grid;

    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (min-width: 768px) and (min-height: 410px) {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &__content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;

    max-height: 50vh;

    @media only screen and (min-width: 768px) {
      grid-template-columns: 1fr minmax(350px, 35vw);
    }
  }
}

.desktop-dashboard {
  max-height: 65vh;
  width: 100%;
  min-width: 400px;

  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(min-content, 50%));

  justify-content: center;
  align-items: start;
}
