@import '../../scss/abstract/mixins';
.back-arrow {
    width: var(--size-m);
    height: var(--size-m);
    // background-color: var(--white-color);
    // border-radius: var(--border-r-s);
    @include whiteBg;
    @include flexCenter;

    &__triangle {
        background-color: var(--primary-color);
        width: 85%;
        height: 73%;

        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: rotate(270deg) translateY(-2px);
    }
}
