<!-- <ng-container *ngIf="usersMapped.length > 0">
    <div class="users__item" style="cursor: pointer; padding-bottom: 7px;" *ngFor="let user of usersMapped; let i = index;">
        <label for="{{ user.uniqId }}" style="display: flex; justify-content: space-between;">
            <span class="span-el">
                <span class="bold-span"> {{ user.firstName }} {{ user.lastName }}</span> {{ user.email }}
            </span>
            <input style="margin-left: 8px;" type="checkbox" name="{{ user.uniqId }}" id="{{ user.uniqId }}"
            (change)="setNewChecked($event.target.checked, user)" [checked]="getChecked(user.id)">
        </label>
    </div>
</ng-container> -->

<h4>Users element</h4>
