:host {
    width: 100%;
}

.datepicker {
    width: 100%;
    border: 1px solid var(--base-bg-color); // #ccc
}

.month {
    display: grid;
    grid-template-columns: 24px auto 24px;
    height: var(--size-m);
    gap: var(--gap-xs);

    .arrow-left,
    .arrow-right,
    .selected-month {
        // mixin
        text-align: center;
        align-self: center;
        cursor: pointer;
    }

    .selected-month {
        button {
            text-transform: capitalize;
            cursor: pointer;
            padding: var(--p-xs) 0;
            width: 200px;
            margin: 0 auto;
            background-color: transparent;
            // mixin
            border: none;
            outline: none;

            &:hover {
                background-color:  var(--disabled-color); // #eee
            }
        }

        .arrow-left,
        .arrow-right {
            background: none;
            // mixin
            border: none;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: var(--disabled-color); // #eee
            }
        }
    }

    .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: 24px;

        span {
            // mixin
            text-align: center;
            align-self: center;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .previous-days,
        .current-days,
        .next-days {
            padding: var(--p-xs);
            text-align: center;
            align-self: center;
            font-size: var(--font-size-xs);
            border: 1px solid transparent;
        }

        .previous-days,
        .next-days {
            opacity: 0.4;
        }

        .current-days {
            cursor: pointer;
            &:hover {
                background-color: var(--base-bg-color);
            }
        }

        .selected-day {
            border: 1px solid var(--base-bg-color);
            background-color: var(--disabled-color); // #eee
        }

        .month-selector {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            span {
                padding: var(--size-s) 0;
                letter-spacing: var(--letter-spacing-s);
                cursor: pointer;
                // mixin
                text-transform: uppercase;
                text-align: center;

                &:hover {
                    background-color: var(--disabled-color); // #eee
                }
            }
        }
    }
}
