<mat-form-field appearance="fill" [formGroup]="parentForm">
    <mat-label>{{ header }}</mat-label>
    <!-- [(ngModel)]="modelString"  -->
    <mat-select name="item" [formControlName]="controlName">
        <ng-container *ngIf="itemsArr && itemsArr.length">
            <!-- [value]="item.nickname ? item.nickname : item.viewName" -->
            <mat-option *ngFor="let item of itemsArr" [value]="item"
                (click)="itemOption(item)">
                {{ item.nickname ? item.nickname : item.viewName }}
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>
