.dropdown {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 15px;

    button {
        &:focus {
            outline: none;
            border: 2px solid var(--primary-color);
        }
    }

    &__selection-button {
        height: 45px;
        background: #fff;
        border: 2px solid #1f524f;
        box-sizing: border-box;
        width: 100%;
        transition: 2.3s height ease-in-out;

        text-align: left;
        padding-left: 10px;

        display: block;

        &--default {
            font-size: 18px;
        }

        &--carrot {
            height: 20px;
            width: 20px;
            position: absolute;
            right: 20px;
            top: 12px;
            background: #359a94;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

            transition: 0.2s all;

            &.active {
                transform: rotate(-180deg);
                transform-origin: top / 2;
            }
        }
    }

    &__list {
        overflow-y: auto;
        height: auto;
        max-height: 230px;

        z-index: 1;

        position: absolute;
        top: 47px;
        left: 0;
        width: 100%;

        &.active {
            z-index: 2;
        }

        & > *:nth-child(1) {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top: 2px solid #1f524f !important;

            &.scroll-over {
                border-top-left-radius: 5px;
                border-top-right-radius: 0px;
                border-top: 2px solid #1f524f !important;
            }
        }

        & > *:nth-last-child(1) {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: 2px solid #1f524f !important;

            &.scroll-over {
                border-top-left-radius: 5px;
                border-bottom-right-radius: 0px;
                border-top: 2px solid #1f524f !important;
            }
        }

        &--item {
            padding-left: 10px;

            height: 0;
            opacity: 0;

            background: #fff;
            border-top: 2px solid #1f524f;
            border-left: 2px solid #1f524f;
            border-right: 2px solid #1f524f;
            border-bottom: 1px solid #1f524f;

            box-sizing: border-box;
            transition: 0.3s height ease-in-out, 0.3s opacity ease-in-out,
                0.2s background;

            display: flex;
            align-items: center;

            &.active {
                height: 45px;
                opacity: 1;
            }

            &:hover {
                background-color: #e4e4e4;
                color: #2c2c2c;
                cursor: pointer;
            }
        }
    }
}

.dropdown__list::-webkit-scrollbar {
    width: 0px;
}

.dropdown__list.active::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.dropdown__list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Handle */
.dropdown__list::-webkit-scrollbar-thumb {
    background: #36817c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Handle on hover */
.dropdown__list::-webkit-scrollbar-thumb:hover {
    background: #2c6864;
}
