@import '../../scss/abstract/mixins';

:host {
    grid-column: 1 / -1;
}

.name {
    grid-column: 2 / 3;
    height: var(--size-m);

    h2 {
        @include flexCenter;
    }
}

.main-content__item {
    &:hover {
        box-shadow: var(--box-shadow-heavy);
        transform: none;
        cursor: pointer;
    }
}

.text {
    &__display {
        margin-right:var(--m-s);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}
