:host {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 2px repeat(6, 1fr) 2px;
    grid-template-rows: [container-start] 1fr [container-end];
    row-gap: 15px;

    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.name-container {
    grid-column: 2 / 3;
    height: 40px;

    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.main-content__item {
    &:hover {
        box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
        transform: none;
        cursor: pointer;
    }
}

.text {
    &__display {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}
