 <!-- @fadeInEnter -->
<app-header [title]="'Added Hours'"></app-header>

 <!-- @fadeInEnter -->
<mat-form-field class="table-filter">
    <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="Filter result">
</mat-form-field>

 <!-- @fadeInEnter -->
<div class="table-container">
  
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="updateAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.updateAtFormatted}} </td>
        </ng-container>
      
        <ng-container matColumnDef="worksiteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Worksite </th>
          <td mat-cell *matCellDef="let element"> {{element.worksiteName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="worktypeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Worktype </th>
          <td mat-cell *matCellDef="let element"> {{element.worktypeName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="hoursFormatted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.hoursFormatted}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div class="footer"></div>