@import '../../scss/abstract/mixins';

:host {
    grid-column: 1 / -1;
}

.main-content {
    @include gridFractionSmall;
    grid-template-rows: min-content 1fr;

    &__item {
        p {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .rate {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            span {
                margin-left: var(--m-s);
                font-weight: bold;
                font-size: 120%;
                color: var(--primary-color);
            }
        }

        img {
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            justify-self: flex-end;
            margin-right: var(--m-m);
        }
    }
}

svg {
    height: var(--size-s);
    width: var(--size-s);

    path {
        fill: var(--primary-color);
    }
}
