<ng-container *ngIf="worksite$ | async as worksite; else noWorksite">
  <div class="side"></div>
  <div class="info" style="display: flex; justify-content: space-between;;">
      <span>Hours X</span>
      <span style="font-size: 24px; font-weight: bold;">{{ worksite.nickname }}</span>
  </div>
  <div class="content">
      <h5>{{ date }}</h5>
      <div class="type">
          <label for="worktype">Work type</label> <br>
          <select style="width: 75%;">
              <option value="test1">test1</option>
              <option value="test2">test2</option>
              <option value="test3">test3</option>
              <option value="test4">test4</option>
              <option value="test5">test5</option>
          </select>
      </div>
      <input class="date" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
          max="2018-12-31">
      <input class="range" type="range">
  </div>
</ng-container>

<ng-template #noWorksite>
  <div class="no-content" style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
      No worksite info available
  </div>
</ng-template>
  <h2>EDIT CURRENT</h2>
  <button (click)="locationBack()">Back</button>