:host {
  display: block;
  width: 100%;
}

.side {
  background-color: red;
}

svg {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin: 0 10px;
  }
}
