@import '../../scss/abstract/mixins';

.cards {
    grid-column: 2 / span 6;
    display: grid;
    gap: var(--gap-s);
}

.card {
    display: grid;
    grid-template-rows: 20px minmax(min-content, 100px);
    background-color: var(--white-color);
    border-radius: var(--border-r-s);
    box-shadow: var(--box-shadow);

    &--ribbon {
        background-color: var(--primary-color);
        // background-color: var(--secondary-color);
        // background-color: rgba(168, 168, 168, 0.4);
        border-top-left-radius: var(--border-r-s);
        border-top-right-radius: var(--border-r-s);
    }

    &__content {
        @include gridCenter;
        grid-template-columns: 4fr 3fr;


        &--name {
            justify-self: flex-start;
            margin-left: var(--m-s);
            grid-column: 1 / 2;
            font-size: var(--font-size-xl);
            text-transform: uppercase;

            &.current-worksite {
                font-size: var(--font-size-l);
            }

            &.current-worksite {
                text-transform: initial;
            }

            &.largeFont {
                font-size: var(--font-size-xl);
                text-transform: uppercase;
            }
        }

        &--hours {
            grid-column: 2 / 3;
            font-size: var(--font-size-xxl);
        }

        &--icon {
            fill: var(--icon-fill);
        }
    }
}
