<app-menu-modal
    *ngIf="openMenuModal"
    [openMenuModal]="openMenuModal"
    (closed)="closedModal()"
></app-menu-modal>

<div class="heading-container">
    <div class="heading">
        <div class="heading__back-arrow">
            <app-back-arrow
                (backPressed)="backArrowPressed()"
                *ngIf="backArrow$ | async; else profile"
            ></app-back-arrow>
        </div>
        <ng-template #profile>
            <div class="heading__profile-icon">
                <app-profile-icon
                    [pic]="auth?.profilePictureUrl"
                ></app-profile-icon>
            </div>
        </ng-template>
        <div class="heading__name">
            <ng-container *ngIf="auth">
                <p>{{ auth.displayName }}</p>
            </ng-container>
        </div>
        <div class="heading__settings-btn">
            <img
                src="../../assets/svg/SVG/settings-btn.svg"
                alt="settings btn"
                (click)="openMenu()"
            />
        </div>
    </div>
    <div class="header" [ngClass]="{ small: true }">
        <ng-container *ngIf="momentDay">
            <p>{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
        </ng-container>
    </div>
</div>
