:host {
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 2px repeat(6, 1fr) 2px;
  grid-template-rows: 45px 65px min-content 1fr;
  gap: 15px;
}

.heading {
  grid-column: 2 / span 6;

  &__name {
    font-size: 1.6rem;
  }
}

.header {
  grid-column: 2 / span 6;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-indent: 10px;
}

.cards {
  grid-column: 2 / span 6;
  display: grid;
  gap: 10px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-column: 1 / -1;
  height: 20px;
}

svg {
  height: 65px;
  width: 65px;
}
