<div class="heading">
  <div class="heading__back-arrow">
    <app-back-arrow (backPressed)="backArrowPressed()"></app-back-arrow>
  </div>
  <div class="heading__name">
    <p>{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
  </div>
  <div class="heading__settings-btn">
    <img src="../../assets/svg/SVG/settings-btn.svg" alt="settings btn">
  </div>
</div>

<div class="header">
  <p>Worksites</p>
</div>

<div class="cards">
  <ng-container *ngIf="worksites$ | async as worksites">
    <app-card *ngFor="let worksite of worksites" [name]="worksite.nickname" [worksite]="worksite"></app-card>
  </ng-container>
  
</div>

<div class="footer"></div>
