<div class="heading">
  <div class="heading__back-arrow">
    <app-back-arrow (backPressed)="backArrowPressed()"></app-back-arrow>
  </div>
  <div class="heading__name">
    <p>{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
  </div>
  <div class="heading__settings-btn">
    <img src="../../assets/svg/SVG/settings-btn.svg" alt="settings btn">
  </div>
</div>

<div class="header">
  <p>Worksites</p>
</div>

<div class="cards">
  <app-card [name]="'Naantalin aurinkoinen'" [hours]="'52'"></app-card>
  <app-card [name]="'Ruissalon kylpylä'" [hours]="'16'"></app-card>
  <app-card [name]="'Kiviranta'" [hours]="'22'"></app-card>
  <app-card [name]="'Neilikan museo'" [hours]="'141'"></app-card>
</div>

<div class="footer"></div>
