:root {
    --base-bg-color: #D7E4E2;
    --white-color: #fff;

    --primary-color: #359a94;
    
    --active-color: #40AF44;


    --icon-fill: #6d6d6d;


    // Shadows
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
