:root {
    --font-size-xlarge: 2.1rem;
    --font-size-large: 1.8rem;
    --font-size-medium: 1.6rem;
    --font-size-small: 1.2rem;
    --font-size-xsmall: 1.0rem;

    --gap10: 10px;
    --gap15: 15px;
}
