<ng-container>
  <div class="dash-container">
    <app-current-worksite-card (click)="navigationHandlerService.setCurrentNavigationRoute('add-hours')">
    </app-current-worksite-card>
    <app-worksites-card (click)="navigationHandlerService.setCurrentNavigationRoute('worksites')"></app-worksites-card>
    <app-settings-card (click)="navigationHandlerService.setCurrentNavigationRoute('settings')"></app-settings-card>
    <app-manage-worksites-card (click)="navigationHandlerService.setCurrentNavigationRoute('manage-worksites')">
    </app-manage-worksites-card>
    <app-manage-users-card (click)="navigationHandlerService.setCurrentNavigationRoute('manage-users')">
    </app-manage-users-card>
  </div>
</ng-container>