:host {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 10px repeat(6, 1fr) 10px;
  grid-template-rows: 45px 45px min-content 1fr;
  gap: 15px;
}

.heading {
  grid-column: 2 / span 6;
}

.header {
  grid-column: 2 / span 6;
}

.circles {
  grid-column: 2 / span 6;
}

.cards {
  grid-column: 2 / span 6;
  display: grid;
  gap: 10px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-column: 1 / -1;
  height: 20px;
}

svg {
  height: 65px;
  width: 65px;
}

.menu-modal {
  position: absolute;
  top: 39px;
  right: 37px;
  min-height: 260px;
  width: 60%;
  min-width: 240px;
  max-width: 410px;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: #444;

  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-rows: 48px 1fr;

  &__close {

    .line1 {
      content: '';
      position: absolute;
      top: 20px;
      right: 10px;
      background: var(--primary-color);
      width: 30px;
      height: 3px;
      border-radius: 10px;
      transform: rotate(45deg);
    }
    
    .line2 {
      content: '';
      position: absolute;
      top: 20px;
      right: 10px;
      background: var(--primary-color);
      width: 30px;
      height: 3px;
      border-radius: 10px;
      transform: rotate(135deg);
    }
  }

  &__content {
    font-size: 2.1rem;
    display: grid;
    justify-items: center;
    width: 100%;
    ul {
      width: 80%;
      li {
        display: flex;
        justify-content: center;
        list-style: none;
        line-height: 2.7rem;
        border-bottom: 1px solid #333;

        &:hover {
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }
  }
}
