:host {
  display: block;
  width: 100%;
  height: 100%;
}

// TODO, global styles
.container {
  grid-column: selection-start / selection-end;
  width: 100%;

  display: grid;
  grid-template-columns: 2vw 1fr 2vw;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 15vw 1fr 15vw;
  }
}

.card {
  grid-column: 2 / 3;
  display: flex;
}
