:host {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: none;
    border: 3px solid navy;
    color: navy;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    margin: 10px;

    &:hover {
        color: lightblue;
        border: 3px solid lightblue;
    }
}
