table {
  width: 400px;
}

table,
td,
th {
  border: 1px solid #000;
  font-weight: lighter;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th {
  min-height: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

td {
  background-color: var(--white-color);
}

td {
  &:hover {
    cursor: pointer;
  }
}

tr.active td {
  background-color: #d6d9d4;
}
