:host {
    grid-column: 1 / -1;

    padding-top: 20px;
    display: grid;
    grid-template-columns: 2px repeat(6, 1fr) 2px;
    grid-template-rows: [container-start] 1fr [container-end];
    row-gap: 15px;

    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.container {
    grid-row: container-start / container-end;
    grid-column: 2 / span 6;

    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
}

.item-container {
    grid-column: 1 / -1;
    grid-row: 1 / 3;

    background: #fff;
    border-radius: 5px;
    padding: 10px;

    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: min-content 1fr;

    &__items {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &__item {
        padding: 5px 3px 10px 3px;
        border-bottom: 1px solid var(--primary-color);
        margin: 10px 0;

        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        width: 100%;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content 40px;
        align-items: center;

        transition: 0.3s all;

        box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);

        &:hover {
            box-shadow: 4px 0px 14px rgba(0, 0, 0, 0.1);
            transform: translateY(1px);
            cursor: pointer;
        }

        p {
            padding: 10px;
            grid-column: 1 / 2;
            grid-row: 1 / span 2;

            font-weight: bold;

            .email {
                font-weight: normal;
                display: block;
                margin-top: 6px;
            }
        }

        img {
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            justify-self: flex-end;
            margin-right: 20px;
        }
    }
}

.m-6-d-b {
    margin-top: 6px;
    display: block;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
