@import '../../scss/abstract/mixins';

.menu-modal {
    position: absolute;
    z-index: var(--layer-7);
    top: 39px;
    right: 37px;
    min-height: 260px;
    width: 60%;
    min-width: 240px;
    max-width: 410px;
    @include whiteBg;
    border: 2px solid var(--primary-color);
    color: var(--dark-color);
    box-shadow: var(--box-shadow-heavy);

    display: grid;
    grid-template-rows: 48px 1fr;

    &__content {
        font-size: 2.1rem;
        display: grid;
        justify-items: center;
        width: 100%;
        ul {
            width: 80%;
            li {
                display: flex;
                justify-content: center;
                list-style: none;
                line-height: 2.7rem;
                border-bottom: 1px solid var(--dark-color);

                &:hover {
                    border-bottom: 1px solid var(--primary-color);
                    cursor: pointer;
                }
            }
        }
    }
}

.layer {
    transition: 0.4s all;
    backdrop-filter: none;

    &.active {
        width: 100vw;
        z-index: var(--layer-6);
        @include fixedBlur;
        min-height: 100vh;
    }
}
