* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: var(--base-bg-color);
    // background-image: url("../../../../assets/img/sunrise-city.jpg");
    // background-size: cover;

    ::selection {
        background: var(--primary-color);
        color: var(--white-color);
    }
}
