* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: rgb(82, 109, 82);

  background-color: #157570;

  ::selection {
    background: orange;
    color: #fff;
  }
}
