*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    // background-color: var(--base-bg-color);
    background-color: rgba(175, 212, 199, 0.5);

    ::selection {
        background: var(--primary-color);
        color: var(--white-color);
    }
}
