body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;

  background: #eee;
  background-image: url("https://p0.piqsels.com/preview/110/349/112/view-of-building-construction-sites.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
