:host {
  display: inline-block;
  font-size: 1.2rem;

  @media only screen and (min-width: 567px) {
    font-size: 1.3rem;
  }
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(99, 197, 99);

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 567px) {
    width: 40px;
    height: 40px;
  }
}

.day {
  display: flex;
  justify-content: center;
}
