@import '../../scss/abstract/mixins';

:host {
    display: block;
    text-align: center;
}

.circle {
    border: 3px solid var(--primary-color);
    height: var(--size-m);
    width: var(--size-m);
    border-radius: 50%;
    background-color: var(--white-color);

    @include flexCenter;
}

.circle-plus {
    color: var(--primary-color);
    font-size: var(--font-size-xxl);
    align-self: flex-start;
}

.date {
    margin-top: var(--m-xs);
}
