:host {
  display: grid;
}

.form {
  &__date {
    height: 45px;
    width: 100px;
    background: #ffffff;
    border: 2px solid #1f524f;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 6px;

    color: #000;

    display: grid;
    grid-template-columns: 2fr 1fr;

    justify-items: flex-start;

    &--text {
      justify-items: flex-start;
      padding-left: 6px;
      font-size: 1.8rem;
    }

    &--arrow {
      background-color: #359a94;
      width: 69%;
      height: 55%;

      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: rotate(90deg) translateY(-2px);
    }

    &--toggle-data {
      border: none;
      font-size: 1.2rem;
      text-decoration: underline;
      background-color: var(--white-color);
      border: 2px solid var(--primary-color);
      border-radius: 5px;
      color: var(--primary-color);
      letter-spacing: 0.2rem;

      &:focus {
        outline: none;
      }
    }
  }
}
