@import '../../../scss/abstract/mixins';

:host {
    grid-column: 1 / -1;
}

.main-content__item--text {
    font-weight: bold;
    font-size: var(--font-size-xl);
    margin-bottom: var(--m-s);
}

.flex-center {
    @include flexCenter;
}
