<div class="heading">
    <div class="heading__back-arrow">
        <app-back-arrow (backPressed)="backArrowPressed()"></app-back-arrow>
    </div>
    <div class="heading__name">
        <p *ngIf="momentDay">{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
    </div>
    <div class="heading__settings-btn">
        <img src="../../assets/svg/SVG/settings-btn.svg" alt="settings btn">
    </div>
</div>

<div class="header">
    <p>Manage worksites</p>
</div>

<div class="container">
    <ng-container *ngIf="worksites$ | async as worksites">
        <div class="worksites">
            <p class="worksites__header">Worksites</p>
            <div class="worksites__items">
                <div class="worksites__item" *ngFor="let worksite of worksites; let i = index"
                    (click)="edit(worksite, i)">
                    <p>
                        {{ worksite.nickname }}
                    </p>
                    <img src="../../../assets/svg/SVG/edit2.svg" alt="edit-worksites">
                </div>
            </div>
        </div>
    </ng-container>
    <button type="button" (click)="addNew()">ADD NEW WORKSITE</button>
</div>

<app-edit-form>

    <div class="blur" [ngClass]="{ 'active': modalObs$ | async }" (click)="closeModal()"></div>
    <ng-container *ngIf="modalObs$ | async">
        <div class="editForm">

            <div class="header">

                <ng-container *ngIf="activeWorksite$ | async; else add">
                    <h4 class="editForm__header" style="text-indent: 0;">Edit</h4>
                </ng-container>
                <ng-template #add>
                    <h4 class="editForm__header" style="text-indent: 0;">Add</h4>
                </ng-template>

                <div class="close__x editForm__close" (click)="closeModal()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                </div>
            </div>

            <form class="form" [formGroup]="worksiteForm">
                <div class="form__inputs">
                    <label for="name">
                        <span>
                            Name
                        </span>
                        <input type="text" placeholder="ex. Caribia" id="name" formControlName="nickname">
                    </label>
                    <label for="address">
                        <span>
                            Address
                        </span>
                        <input type="text" placeholder="ex. Kongressikuja 1" id="address"
                            formControlName="streetAddress">
                    </label>
                    <label for="postal">
                        <span>
                            Postal code
                        </span>
                        <input type="text" placeholder="ex. 20540" id="postal" formControlName="postalCode">
                    </label>
                    <label for="city">
                        <span>
                            City
                        </span>
                        <input type="text" placeholder="ex. Turku" id="city" formControlName="city">
                    </label>
                </div>
                <div style="display: flex; justify-content: space-between;">

                    <ng-container *ngIf="activeWorksite$ | async; else addBtn">
                        <button type="button" (click)="submit()" class="submit" [disabled]="!worksiteForm.valid"
                            [ngClass]="{ 'disabled': !worksiteForm.valid}">EDIT</button>
                        <button type="button" class="delete" (click)="deleteWorksite()">DELETE</button>
                    </ng-container>
                    <ng-template #addBtn>
                        <button type="button" (click)="submit()" class="submit" [disabled]="!worksiteForm.valid"
                            [ngClass]="{ 'disabled': !worksiteForm.valid}">ADD</button>
                    </ng-template>
                    <!-- 
                    <button type="button" (click)="submit()" class="submit" [disabled]="!worksiteForm.valid"
                        [ngClass]="{ 'disabled': !worksiteForm.valid}">EDIT</button>
                    <button type="button" class="delete" (click)="deleteWorksite()">DELETE</button> -->
                </div>
            </form>

        </div>
    </ng-container>
</app-edit-form>

<div class="footer"></div>