:host {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 2px repeat(6, 1fr) 2px;
  grid-template-rows:
    [heading-start] 45px
    [heading-end header-start] 65px
    [header-end container-start] 1fr
    [container-end];
  gap: 15px;

  min-height: calc(100vh - 20px);
  box-sizing: border-box;

  position: relative;
  z-index: 10;
}

svg {
  height: 28px;
  width: 28px;

  path {
    fill: #359a94;
  }
}
