<div class="heading">
  <div class="heading__back-arrow">
    <app-back-arrow (backPressed)="backArrowPressed()"></app-back-arrow>
  </div>
  <div class="heading__name">
    <p *ngIf="momentDay">{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
  </div>
  <div class="heading__settings-btn">
    <img src="../../assets/svg/SVG/settings-btn.svg" alt="settings btn">
  </div>
</div>

<div class="header">
  <p>Add Hours</p>
</div>

<ng-container *ngIf="(worksite$ | async) as worksite">
  <div class="address">
    <p>{{ worksite.nickname }}</p>
    <p><span>{{ worksite.streetAddress }}, </span> <span>{{ worksite.postalCode }}
      </span><span>{{ worksite.city }}</span></p>
  </div>
</ng-container>

<div class="marked-hours">
  <h4>Total marked hours for the day: </h4>
  <ng-container *ngIf="dayHours$ | async as hours">
    <span class="marked-hours__hours">{{ hours }}</span>
  </ng-container>
</div>

<form class="form" [formGroup]="dataForm">

  <mat-form-field style="visibility: hidden; height: 1px;">
    <mat-label style="visibility: hidden;">Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" style="visibility: hidden;" formControlName="date" [max]="maxDate">
    <mat-datepicker #picker color="primary" style="visibility: hidden;"></mat-datepicker>
  </mat-form-field>
  <div style="display: flex; justify-content: space-between;">
    <button type="button" class="form__date" (click)="toggleDatePicker(picker)">
      <span class="form__date--text">Date</span>
      <span class="form__date--arrow"></span>
    </button>
    <button class="form__date--toggle-data" (click)="toggleFormData()">Toggle</button>
  </div>

  <mat-form-field appearance="fill" style="margin-top: 13px; display: block;" *ngIf="showFormData">
    <mat-label>Worksite selection</mat-label>
    <mat-select [(ngModel)]="selectedWorksiteValue" name="worksite" formControlName="worksite">
      <ng-container *ngIf="worksites$ | async as worksites">
        <mat-option *ngFor="let worksite of worksites" [value]="worksite.nickname" (click)="worksiteOption(worksite)">
          {{ worksite.nickname }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-top: -6px; display: block;" *ngIf="showFormData">
    <mat-label>Worktype selection</mat-label>
    <mat-select [(ngModel)]="selectedWorktypeValue" name="worktype" formControlName="worktype">
      <ng-container *ngIf="worktypes$ | async as worktypes">
        <mat-option *ngFor="let worktype of worktypes" [value]="worktype.id">
          {{ worktype.viewName }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <div class="slider-box" *ngIf="showFormData">
    <div class="slider-container" #slider>
      <p>Time added: <span style="font-weight: bold;">{{ sliderValue }}h</span></p>
      <input type="range" [min]="sliderMin" [max]="sliderMax" [value]="0" [step]="step" class="slider"
        formControlName="slider" (change)="getSliderValue($event)">
      <ng-container *ngIf="slider$ | async as value; else noValue">
        <p style="width: 20px; position: relative;" [ngStyle]="{ 'left.px' : getPosition(value) }">{{ value }}h</p>
      </ng-container>
      <ng-template #noValue>
        <p>0h</p>
      </ng-template>
    </div>
  </div>

  <button class="form__submit" type="submit" (click)="onSubmit()" *ngIf="showFormData">Add</button>
</form>

<div class="table-container">
  <ng-container *ngIf="dayTableHours$ | async as tableHours">
    <table *ngIf="tableHours.length > 0">
      <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Work type</th>
      </tr>
      <tr *ngFor="let hours of tableHours">
        <td>{{ hours.updateAt }}</td>
        <td>{{ hours.hours }}</td>
        <td>{{ hours.worktypeName }}</td>
      </tr>
    </table>
  </ng-container>
</div>

<div class="footer"></div>