<div class="heading">
  <div class="heading__back-arrow">
    <app-back-arrow (backPressed)="backArrowPressed()"></app-back-arrow>
  </div>
  <div class="heading__name">
    <p *ngIf="momentDay">{{ momentDay.format('DD.MM.YYYY dddd') }}</p>
  </div>
  <div class="heading__settings-btn">
    <img src="../../assets/svg/SVG/settings-btn.svg" alt="settings btn">
  </div>
</div>

<div class="header">
  <p>Add Hours</p>
</div>

<ng-container *ngIf="(worksite$ | async) as worksite">
  <div class="address">
    <p>{{ worksite.nickname }}</p>
    <p><span>{{ worksite.streetAddress }}, </span> <span>{{ worksite.postalCode }}
      </span><span>{{ worksite.city }}</span></p>
  </div>
</ng-container>

<div class="marked-hours">
  <h4>Total marked hours for the day: </h4>
  <ng-container *ngIf="dayHours$ | async as hours">
    <span class="marked-hours__hours">{{ hours }}</span>
  </ng-container>
</div>

<form class="form" [formGroup]="dataForm">

  <app-hours-date-selection [parentForm]="dataForm" [controlName]="'date'" (showForm)="showFormToggleEmit($event)">
  </app-hours-date-selection>

  <!-- [modelStringX]="worksiteNickname$ | async"  -->
  <app-hours-dropdown *ngIf="showFormData" style="margin-top: 13px; width: 100%;" [parentForm]="dataForm"
    [controlName]="'worksite'" [items]="worksites$ | async" [header]="'Worksite selection'"
    (itemSelection)="getItemSelectionFromDropdown($event)">
  </app-hours-dropdown>

  <!-- [modelStringX]="worktypeViewName$ | async" -->
  <app-hours-dropdown *ngIf="showFormData" style="margin-top: -6px;" [parentForm]="dataForm" [controlName]="'worktype'"
    [items]="worktypes$ | async" [header]="'Worktype selection'" (itemSelection)="getItemSelectionFromDropdown($event)">
  </app-hours-dropdown>

  <app-hours-slider *ngIf="showFormData" [parentForm]="dataForm" [controlName]="'slider'"
    [sliderObsValue]="slider$ | async" [setSliderValue]="sliderValueObs$ | async">
  </app-hours-slider>

  <div style="display: flex; justify-content: space-between;">
    <ng-container *ngIf="activeHours$ | async as active; else add">
      <button class="form__submit" type="submit" (click)="onSubmit()" *ngIf="showFormData">Edit</button>
      <button (click)="remove()">Delete</button>
    </ng-container>
    <ng-template #add>
      <button class="form__submit" type="submit" (click)="onSubmit()" *ngIf="showFormData">Add</button>
    </ng-template>
  </div>
</form>

<div class="table-container">
  <app-hours-table [tableHours]="dayTableHours$ | async" (hoursSelection)="getHoursSelectionFromTable($event)"
  [changeIndex]="setTableIndex">
  </app-hours-table>
</div>

<div class="footer"></div>