<ng-container *ngIf="currentWorkSite$ | async as worksite; else noCurrent">
  <div class="card-container {{ class }}">
    <span class="side">
      <h3>Current Worksite</h3>
    </span>
    <div class="content">
      <div class="content__curr">
        <h3>{{ worksite.nickname }}</h3>
        <p>{{ worksite.streetAddress }} {{ worksite.postalCode }} {{ worksite.city }}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noCurrent>
  <div class="card-container {{ class }}">
    <span class="side">
      <h3>Current Worksite</h3>
    </span>
    <div class="content">
      <div class="content__curr">
      </div>
    </div>
  </div>
</ng-template>