:host {
    display: block;
    width: 100%;
}

// TODO, global styles
.side {
    grid-column: left-side-color-start / left-side-color-end;
    grid-row: 1 / -1;
    background-color: #5772EB;
}

.heading {
    grid-column: content-start / content-end;
    grid-row: heading-start / heading-end;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
}

.content {
    grid-column: content-start / content-end;
    grid-row: content-row-start / content-row-end;
    border-top: 1px solid #ddd;
    padding: 20px;
}
